.header {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-content: ;
    background-color: #41b3a3;
    font-size: x-large;
    font-weight: 900;

}
.body {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #41b3a3;
}
.rules {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

#rock {
    display: flex;
    margin: 20px;
    padding: 20px;

}
#paper {
    display: flex;
    margin: 20px;
    padding: 20px;
}

#scissors {
    display: flex;
    margin: 20px;
    padding: 20px;
}

#gameDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #41b3a3
}

.labels{
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #E27D60;
    font-size: larger;
    font-weight: 900;


}

.scoreTracker {
    display: flex;
    justify-content: center;
}

#playerLabel {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5f0b3d;
    padding-left: 15px;
}
#player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 5px solid rgb(27, 27, 31);
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 20px;
}
#computer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 5px solid rgb(27, 27, 31);
    margin-top: 3px;
    margin-bottom: 20px;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 20px;
}

#computerLabel {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5f0b3d;
    padding-left: 15px;
}